@mixin resetButton {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin resetInput {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
