@font-face {
  font-family: "avenir";
  src: url('avenir-300.eot');
  src: url('avenir-300.eot?#iefix') format('embedded-opentype'),
       url('avenir-300.woff') format('woff'),
       url('avenir-300.ttf') format('truetype'),
       url('avenir-300.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url('avenir-400.eot');
  src: url('avenir-400.eot?#iefix') format('embedded-opentype'),
       url('avenir-400.woff') format('woff'),
       url('avenir-400.ttf') format('truetype'),
       url('avenir-400.svg#open_sanslight') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url('avenir-500.eot');
  src: url('avenir-500.eot?#iefix') format('embedded-opentype'),
       url('avenir-500.woff') format('woff'),
       url('avenir-500.ttf') format('truetype'),
       url('avenir-500.svg#open_sanslight') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url('avenir-700.eot');
  src: url('avenir-700.eot?#iefix') format('embedded-opentype'),
       url('avenir-700.woff') format('woff'),
       url('avenir-700.ttf') format('truetype'),
       url('avenir-700.svg#open_sanslight') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url('avenir-800.eot');
  src: url('avenir-800.eot?#iefix') format('embedded-opentype'),
       url('avenir-800.woff') format('woff'),
       url('avenir-800.ttf') format('truetype'),
       url('avenir-800.svg#open_sanslight') format('svg');
  font-weight: 800;
  font-style: normal;
}
