@import "app-colors";
@import "responsive";

@mixin counterButton {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 35px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  width: 320px;
  flex-shrink: 0;

  @include big-phone {
    margin-bottom: 40px;
  }
  @include phone {
    width: 300px;
  }
}

.title {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}

.counter {
  position: relative;
  width: 100%;
  height: 160px;
  border-radius: 10px;
  background-color: $counter_background;
}

.decrementButton {
  @include counterButton;
  left: 40px;

  .arrowIcon {
    transform: rotate(180deg);
  }

  @include phone {
    left: 30px;
  }
}

.incrementButton {
  @include counterButton;
  right: 40px;

  @include phone {
    right: 30px;
  }
}

.arrowIcon {
  width: 25px;
  height: 40px;
}

.value {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  margin: auto;
  line-height: 160px;
  text-align: center;
  font-size: 50px;
}

.resetButton {
  z-index: 9;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 30px;
  margin: auto;
}
