.container {
  overflow: hidden;
}

.enter {
  transform: translateY(100%);
}

.enterActive {
  transform: translateY(0);
  transition: 500ms !important;
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(100%);
  transition: 500ms !important;
}
