@import "app-colors";

.clearButton {
  background-color: rgba(black, 0.15);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  border: 1px solid transparent;
  transition: 200ms;

  &:hover {
    background-color: rgba(black, 0.2);
  }
  &:focus {
    border-color: rgba(black, 0.2);
  }
}
